.ds4.controller {
    background-image: url("./assets/base.png") !important;
}

.ds4 .back,
.ds4 .start {
    background-image: none !important;
}

.ds4 .back.pressed,
.ds4 .start.pressed {
    background-image: url("./assets/start_pressed.png") !important;
}

.ds4 .bumper {
    background: none;
    opacity: 1;
}

.ds4 .bumper.pressed {
    background: url("./assets/bumper.svgz") !important;
    opacity: 1;
}

.ds4 .button {
    background-image: url("./assets/face.png") !important;
}

.ds4 .face {
    background-image: url("./assets/dpad.png") !important;
}

.ds4 .meta.pressed {
    background-image: url("./assets/meta.png") !important;
}

.ds4 .stick {
    background-image: url("./assets/sticks.png") !important;
}

.ds4 .touchpad.pressed {
    background-image: url("./assets/touchpad.png") !important;
}

.ds4 .trigger {
    background-image: url("./assets/triggers.png") !important;
}

.ds4.disconnected {
    background: url("./assets/disconnected.png") !important;
}
